* { 
  margin:0;
padding:0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  box-sizing: content-box;
  margin:0;
padding:0;
  height:100%;
width: 100%;
}

body {
  margin:0;
padding:0;
  width:100%;
  height:100%;
}

/* header */
.head {
display: flex;
justify-content: center;
padding-top: 1rem;
 background-color: rgb(63, 202, 156);
 max-width: 100%;
 margin: 0;
 padding: 0;
}



/* first block */
.first-block {
  background-image: url('resources/powerPlant.png');
  background-repeat: no-repeat;
  height: 35rem;
  background-image: cover;
width: 100%;
}

#bar {
  width: 15%;
}

#first-parag {
  font-weight: 600;
  font-size: 1rem;


}

.first-content {
  padding-left: 3rem;
  padding-top: 2rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
align-items: flex-start;
  color: white;
}

#first-call {
  height: fit-content;
}

.first-title {
  font-size: 2rem;
  font-weight: 700;
}


.first-buttons {
  display: flex;
  flex-direction: row;
gap: 3rem;
padding-bottom: 5rem;


}



#callus-button {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  color: white;
  background-color: #3CAB90;
  border-radius: 1rem;
  box-shadow: 0rem;
  border: white solid 0rem;
  margin:0rem;
}

#request-button {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 2.5rem;
  color: rgb(0, 0, 0);
  background-color: #FFBB1C;
  border-radius: 1rem;
  box-shadow: 0rem;
  border: white solid 0rem;

  margin:0rem;
}




/* second block */
.second-block {
  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 1rem 2rem 1rem 2rem;

  
}

.parag-two {
  padding:1rem;
}

.list-number {
  color: rgb(34, 183, 0);
}

.list-h-items {
  font-size:1rem;

}

h2 {
  display: inline;
  margin-bottom:10em
}


.robo {
 width: 80%;
}

/* third block */
.third-block {
  background-image: url('resources/plantThree.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
 height:40rem;
 font-size: 100%;
  margin: 0;
  padding: 0;
  background-size:cover;
  background-position: bottom right;
  color: white;

}

#third-content {
padding-left: 4rem;
padding-right: 4rem;
  text-wrap: wrap;
  
}


/* fourth block */
.fourth-block {
  text-align: center;
  padding: 2em;
}

.fourth-block p {
padding-top: 1em;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin:1em;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content h4 {
  padding: 1em 0em 1em 0em;
  padding-top: 1.5em;
  text-align: center;
}

.content {
  padding: 1em;
}


/* fifth block */
.fifth-block {
  background-image: url('resources/fifth-office.jpg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  background-position: center;
  
}

.fifth-blurred-box {
  margin-top: 3rem;
  display: flex;
flex-direction: column;
justify-content: center;
  width:80%;
  height: 75%;
border-radius: 30px;
 background-color: transparent;
  backdrop-filter: blur(10px);
  color: white;
  text-align: center;
 margin-bottom: 5rem;
}
.fifth-title {
  font-size: 1.6rem;
}

/* sixth block */
.sixth-block {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3rem;
  padding: 1rem;
  background-color: antiquewhite;
}

.sixth-content {
  padding-left: 2rem;
}

.sixth-block h4 {
  font-size: 2rem;
}

.sixth-svg {
  width: 10%;
}

.sixth-cards {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sixth-cards-col {
  display: flex;
  flex-direction: column;
width: 100%;
flex-basis:1;
}

.sixth-card-single {
  display: grid;
  border: 1px solid rgba(46, 255, 46, 1);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin:1em;
  width: 80%;
  background: rgba(46, 255, 46, 0.05);
  text-wrap: wrap;

}

.sixth-padded-image {
padding:2rem;
width:70%;
object-fit: cover;
}

.sixth-footer {
  color: rgb(0, 179, 0);
  padding-top: 1rem;
}


/* seventh block */
.seventh-block {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.seventh-cards {
display: grid;
grid-template-columns: 1fr;
gap: 1rem;
}

.seventh-card-single {
  padding: 1rem;
  margin: 1rem;
  display: grid;
  border: 1px solid rgba(46, 255, 46, 1);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 15rem;
  background: rgba(46, 255, 46, 0.05);
  gap:1rem;
}

.eight-block {
  display: grid;
  grid-template-columns: 2fr;
  gap: 2rem;
  padding: 2rem;
}


.eight-card {
display:flex;
flex-direction: column;
justify-content: space-evenly;
gap: 2rem;
background-color: rgb(215, 215, 215);
border-radius: 1rem;
padding: 1rem;
}

#eight-title {
  font-size: 3rem;
  padding-bottom:2rem;
  font-weight: 800;
}

#indian {
width: 20%;
border-radius: 4rem;
object-fit: cover;
}

#say-green {
  color: rgb(0, 106, 16);
}

.eight-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.eight-big-content {
display: flex;
flex-direction: row;
justify-content: space-around;
}

#eight-testimony {
font-size: 1.5rem;
}


.eight-content {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.eight-svg {
width: 5%;
padding: .5rem;
}


  /*NINTH BLOCK */
.ninth-block {
  display: grid;

  padding: 5rem;
  font-size: .7rem;
  background-color: #283646;
}

hr {
  color: gray;
}

.ninth-block-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .6rem;

}

button-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

inputy {
position: absolute;
}

buttony {
position: relative;
}

/* media query/responsiveness */
@media(min-width:350px) {
  .head {
    display:grid;
    grid-template-columns: repeat(2, 10rem);
  }


}


@media(min-width:450px) {
  .fourth-block-grid {
    display: grid;
grid-template-columns: 10rem 1rem;
  }


}

@media(min-width:600px) {
  .head {
    display:grid;
    grid-template-columns: repeat(3, 10rem);
  }
  .parag {
    font-size:6vw;
  }
  .seventh-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width:700px) {
  .head {
    display:grid;
    grid-template-columns: repeat(4, 10rem);
  }
  .second-block {
    grid-template-columns: 1fr 1fr;
  }
  .parag {
    font-size:4vh;
    margin: 0em 5em 0em 5em;
  }
  h2 {
    font-size: 4vh;
  }
  .cards {
    display: grid;
    grid-template-columns:1fr 1fr;
  }
  .sixth-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .sixth-cards-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #first-parag {
    font-size: 1.5rem;
   }
   .first-title {
    font-size:2rem;
   }
}

@media(min-width:900px) {
  .head {
    display:grid;
    grid-template-columns: repeat(5, 10rem);
  }
  .cards {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
  }
  .fifth-blurred-box {
    width: 50%;
  }
  .seventh-cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    }
    .eight-block {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  .button-trans {
      color: white;
      background-color: transparent;
      padding: .4em;
      border:0em solid transparent;
      height: 2rem;
   }
   
  .button-full {
     color: white;
     background-color: transparent;
     border-radius:.5em;
     padding-left:1em;
     padding-right:1em;
     height: 2rem;
   }
   .head {
    padding-top: 1rem;
   }
   .first-content {
    gap:5rem;
   }
   #first-parag {
    font-size: 2rem;
   }
   .first-title {
    font-size:3rem;
   }
}




.button-trans {
   color: white;
   background-color: transparent;
   padding: .4em;
   border:0em solid transparent;
}

.button-full {
  color: white;
  background-color: transparent;
  padding: .4em;
  border-radius:.5em;
  padding-left:1em;
  padding-right:1em;
}

.main-cont {
display:flex;
flex-direction: column;
}