* { 
padding:0;
margin:0;
}

html {
  box-sizing: content-box;
width: 100%;
}

.head {
display: grid;
justify-content: center;
grid-template-columns: 10rem;
gap:1rem;
padding-top: 1em;
padding-left:1em;
 background-color: rgb(63, 202, 156);
 max-width: 100%;
 margin: 0;
 padding: 0;
 
 
}

.first-block {
  background-image: url('resources/powerPlant.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 50rem;
  margin: 0;
  padding: 0;
  background-size: cover; 
}

.title-h1 {
  color: aliceblue;
  font-size: 400%;
  padding-left:12rem;
}

.parag {
  font-size:10vw;
color: aliceblue;
  gap: 1.5em;
  text-wrap: wrap;
}

.parag-one {
  padding:0em 0em 0em 1em;
}

.second-block {

  background-color: antiquewhite;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  
}

.list-number {
  color: rgb(34, 183, 0);
}

h2 {
  display: inline;
  margin-bottom:10em
}


.robo {
 width: 80%;
}


.third-block {
  background-image: url('/resources/plantThree.png');
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr;
}



@media(min-width:350px) {
  .head {
    display:grid;
    grid-template-columns: repeat(2, 10rem);
  }
  .parag {
    font-size:8vw;
  }
}


@media(min-width:450px) {
  .parag {
    font-size:7vw
  }
}

@media(min-width:600px) {
  .head {
    display:grid;
    grid-template-columns: repeat(3, 10rem);
  }
  .parag {
    font-size:6vw;
  }
}

@media(min-width:700px) {
  .head {
    display:grid;
    grid-template-columns: repeat(4, 10rem);
  }
  .second-block {
    grid-template-columns: 1fr 1fr;
  }
  .parag {
    font-size:4vh;
    margin: 0em 5em 0em 5em;
  }
  
}

@media(min-width:900px) {
  .head {
    display:grid;
    grid-template-columns: repeat(5, 10rem);
  }
  
}


.call {
  padding-top: 1em;
  padding-left:10%;
}

.button-trans {
   color: white;
   background-color: transparent;
   padding: .4em;
   border:0em solid transparent;
}

.button-full {
  color: white;
  background-color: transparent;
  padding: .4em;
  border-radius:.5em;
  padding-left:1em;
  padding-right:1em;
}

.main-cont {
display:flex;
flex-direction: column;
}