.head {
background-color: aqua;
display: flex;

}




.PPimage {
background-image: url('resources/powerPlant.png');
background-repeat: no-repeat;
background-size: auto;
object-fit:fill;
height: 40rem;
width:22rem;
}
